<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116780074536-k1m2lodktb6p9ooi0om1oj7eanvr9qph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116780074536-k1m2lodktb6p9ooi0om1oj7eanvr9qph</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IwPyJFgRxrzFyS7MLMbTvgJKWUZO2Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>116780074536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifela.ifela</string>
	<key>PROJECT_ID</key>
	<string>eagleeye-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>eagleeye-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116780074536:ios:0234b85c65fd56a02b971d</string>
	<key>DATABASE_URL</key>
	<string>https://eagleeye-dev.firebaseio.com</string>
</dict>
</plist>